<div class="labelpicker">

  <div ng-click="click_toggler()"
    class="pointer drop-toggle"
    data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="true">
    labels &#x25BF;
  </div>

  <div class="drop">

    <div class="drop-item-entry" ><input ng-keyup="check_add_label_enabled($event)"
      ng-keypress="check_key($event)"
      class="text-input" ng-model="label_filter">
    </div>

    <div class="drop-item-separator"></div>

    <div ng-if="!labels.length" class="message">
      No labels yet! Create new labels using the text input.
    </div>

    <div class="drop-item"
      ng-repeat="label in labels | filter:{name:label_filter}">
      <label for="{{label.name}}.{{pickerid}}">
        <input ng-model="activelabels[label._id]" ng-change="label_clicked(label)" class="checkbox" type="checkbox" id="{{label.name}}.{{pickerid}}">{{label.name}}
        <span ng-click="delete_label($event, label)" class="remove small glyphicon glyphicon-remove"></span>
      </label>
    </div>

    <div class="drop-item-separator"></div>

    <div ng-class="add_enabled" class="centering drop-item" ng-click="add_new_label()">Add as new label</div>

  </div>

</div>
