labelpicker {
  display: inline-block;
}

labelpicker .text-input {
  width: calc(100% - 20px);
  margin-left: 10px;
}

labelpicker .dropdown-toggle:hover {
  text-decoration: underline;
}
labelpicker .dropdown-toggle {
  color: rgb(100, 165, 180);
}

labelpicker .protected {
  background: red;
}

labelpicker .drop {
  display: none;
  color: black;
  position: absolute;
  z-index: 1000;
  background: white;
  border: solid 1px rgb(220,220,220);
  box-shadow: 0px 0px 4px rgba(0,0,0,0.1);
  border-radius: 6px;
}

labelpicker .drop-item-entry {
  padding: 4px;
  width: 100%;
}
labelpicker .message {
  width: 100%;
  padding: 6px;
}
labelpicker .drop-item:hover {
  background: rgb(240, 240, 240);
}
labelpicker .drop-item {
  padding: 6px;
  width: 100%;
  cursor: pointer;
}
labelpicker .drop-item.disabled {
  color: rgb(220,220,220);
}
labelpicker .drop-item-separator {
  height: 1px;
  width: 100%;
  border-top: solid 1px rgb(220,220,220);
}

labelpicker label {
  width: 100%;
  font-weight: normal;
  cursor: pointer;
}

labelpicker a.enabled {
  color: black;
}
labelpicker a.disabled {
  color: rgb(200, 200, 200);
}

labelpicker .remove {
  float: right;
  color: rgb(220,220,220);
  margin: 2px 6px 0 0;
  padding: 4px;
}

labelpicker .remove:hover {
  color: rgb(180,180,180);
}



labelpicker .checkbox {
  float: left;
  margin-right: 10px;
  margin-left: 10px;
}

labelpicker .label-option-list {
  max-height: 250px;
  overflow-x: scroll;
}
