labelpicker .labelpicker-container {

}

labelpicker .add-new-label {
  color: rgb(200, 200, 200);
}
labelpicker .add-new-label.enabled {
  color: black;
}

labelpicker {
  display: inline-block;
}

labelpicker .drop-item-separator {
  height: 1px;
  width: 100%;
  border-top: solid 1px rgb(220,220,220);
}

labelpicker .drop-item:hover {
  background: rgb(240, 240, 240);
}

labelpicker .drop-item {
  padding: 6px;
  width: 100%;
  cursor: pointer;
  display: block;
}

labelpicker .no-padding {
  padding: 0;
}
labelpicker .drop-menu-styling {
  padding: 6px;
  width: 100%;
  cursor: pointer;
}

labelpicker .drop {
  padding-top: 4px;
  padding-bottom: 4px;
  display: block;
  color: black;
  position: absolute;
  z-index: 1000;
  background: white;
  border: solid 1px rgb(220,220,220);
  box-shadow: 0px 0px 4px rgba(0,0,0,0.1);
  border-radius: 6px;
}







/************/



labelpicker {
  display: inline-block;
}

labelpicker .text-input {
  width: calc(100% - 20px);
  margin-left: 10px;
}

labelpicker .dropdown-toggle {
  color: rgb(100, 165, 180);
}

labelpicker .toggler-text:hover {
  text-decoration: underline;
}

labelpicker .label-container {
  max-height: 200px;
  overflow-y: scroll;
}

labelpicker .protected {
  background: red;
}

labelpicker .inline-block {
  display: inline-block;
  width: 20px;
}

labelpicker .drop-item-entry {
  padding: 4px;
  width: 100%;
}
labelpicker .message {
  width: 100%;
  padding: 6px;
}
labelpicker .drop-item.disabled {
  color: rgb(220,220,220);
}

labelpicker .drop-item {
  position: relative;
  white-space: nowrap;
}

labelpicker .label-name {
  margin-right: 20px;
  padding-right: 40px;
}

labelpicker label {
  width: 100%;
  font-weight: normal;
  cursor: pointer;
}

labelpicker .remove {
  position: absolute;
  right: 0;
  top: 6px;
  color: rgb(220,220,220);
  margin: 2px 6px 0 0;
  padding: 4px;
}

labelpicker .remove:hover {
  color: rgb(180,180,180);
}



labelpicker .checkbox {
  float: left;
  margin-right: 10px;
  margin-left: 10px;
}

labelpicker .label-option-list {
  max-height: 250px;
  overflow-x: scroll;
}
