<nav class="navbar navbar-inverse navbar-fixed-top">
  <a class="navbar-brand" href="/">refclips</a>

  <ul class="nav navbar-nav">

    <li ng-if="$ctrl.userStatusService.user.username" class="menu-item menu-item-hover" role="presentation" class="dropdown">
      <a id="add-ref-dropdown" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        add reference &#x25bf;
      </a>
      <ul class="dropdown-menu">
        <addref onaddmanual="$ctrl.onaddmanual()" onaddbibtex="$ctrl.onaddbibtex()"></addref>
      </ul>
    </li>

  </ul>
  <ul class="nav navbar-nav navbar-right">

    <li ng-if="$ctrl.userStatusService.user.username" id="filter-wrapper" class="menu-item" role="presentation" class="dropdown">
          <filter toggletext="'label-filter'"></filter>
    </li>

    <text-search ng-if="$ctrl.userStatusService.user.username"></text-search>
    
    <dropmenu class="login-menu">
      <div
        class="pointer drop-toggle"
        data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="true">
        <span ng-if="$ctrl.userStatusService.user" class="toggler-text">
          logged in as <span class="username">{{$ctrl.userStatusService.user.username}}</span>
        </span>
        <span ng-if="!$ctrl.userStatusService.user" class="toggler-text">login</span>
        &#x25BF;
      </div>

      <div ng-class="{signed_in: $ctrl.userStatusService.user, signed_out: !$ctrl.userStatusService.user}" class="drop left">
        <div ng-click="$ctrl.capture_click($event)" ng-class="{'drop-item': $ctrl.userStatusService.user}">
          <authentication state="user_state"></authentication>
        </div>
      </div>
    </dropmenu>

  </ul>

</nav>
