forgot-password .prompt {
  text-align: center;
  padding-bottom: 14px;
  padding-top: 10px;
}

forgot-password .post-message {
  text-align: center;
  padding-top: 14px;
}

forgot-password .alt-options {
  margin-left: 10px;
}

forgot-password form {
  width: 330px;
  padding-bottom: 10px;
}
