body {
  padding-top:30px;
  font-family: 'Open Sans', sans-serif;
}

.mg-right {
  margin-right: 4px;
}

.centering {
  text-align: center;
}

.pointer {
  cursor: pointer;
}

.small {
  font-size: .7em;
}
