body {
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background: rgb(253, 253, 252);
}

a {
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.login_wrapper {
  border: solid 1px red;
  height: 200px;
  width: 200px;
}

.view-selector {
  z-index: 9999;
  position: absolute;
  top: 0;
  left: 50%;
  background: blue;
  color: white;
}
.view-selector a{
  color: white;
}

.centering {
  text-align: center;
}

.pointer {
  cursor: pointer;
}

.small {
  font-size: .7em;
}

label {
  width: 74px;
  text-align: right;
  margin-right: 6px;
}

body input[type=text], body input[type=password] {
  width: 200px;
  border-radius: 2px;
  border: solid 1px rgb(204, 204, 204);
  padding: 4px;
}

form div {
  padding-bottom: 2px;
}

.all-refs {
  display: block;
}
.recent-refs {
  display: none;
}
