file {
  display: inline-block;
  height: 28px;
  width: 180px;
}
file .file_icon {
  display: inline-block;
  background: url('/images/file-small.png');
  width: 18px;
  height: 24px;
  vertical-align: middle;
}
file .file_icon.pdf {
  background: url('/images/pdf-small.png');
}

file .edit-filename {
  width: 128px;
}

file .drop-button-wrapper {
  display: inline-block;
}

file dropmenu a.drop-item {
  text-decoration: none;
  color: black;
}

file .glyphicon {
  margin-right: 8px;
}

file ul.dropdown-menu {
  background: yellow;
  position: absolute;
  z-index: 99999;
}
