<form ng-submit="create_user()">
  <div class="prompt">
    choose a username and password
  </div>
  <div ng-if="message" class="form-message">
    {{message}}
    <!--div ng-if="prompt_forgot_password">
      <div>(<a ng-click="go_to_sign_in()">sign in</a> | <a ng-click="forgot_password()">forgot password</a>)</div>
    </div-->
  </div>

  <div><label>email: </label><input type="text" ng-model="email"></div>
  <div><label>username: </label><input ng-keyup="when_username_typing()" type="text" ng-model="username">
    <span ng-if="username_good" class="username-icon username-ok glyphicon glyphicon-ok"></span>
    <span ng-if="username_bad" class="username-icon username-bad glyphicon glyphicon-remove"></span>
    <div ng-if="usernmae_message" class="username-message">{{username_message}}</div>
  </div>
  <div><label>password: </label><password model="password"></password></div>
  <label></label><input class="btn btn-sm btn-default" type="submit" value="submit"></button>
  <span class="alt-options">(<a ng-click="go_to_sign_in()">login</a>)</span>
</form>
