password-register label {
  width: 80px;
}
password-register .username-message {
  display: inline-block;
  color: brown;
}

password-register .username-bad {
  color: brown;
}

password-register .username-ok {
  color: green
}

password-register .form-message {
  text-align: center;
  margin-bottom: 14px;
}

password-register .prompt {
  text-align: center;
  margin-bottom: 14px;
}

password-register .alt-options {
  margin-left: 10px;
}

password-register form {
  width: 292px;
  padding-bottom: 10px;
}
