refs .ref-list {
  padding-top: 14px;
  -webkit-column-gap: 28px;
  -moz-column-gap: 28px;
  column-gap: 28px;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  min-height: 300px;
}

refs label {
  width: 80px;
}
