ref {
  display: block;
  width: 400px;
  border: solid 1px black;
  border-radius: 4px;
}

ref .title {
  font-size: 1.3em;
  font-weight: bold;
}

ref .notes {
  width: calc(100% + 12px);
  margin: -6px;
  height: 100px;
  padding: 10px;
  border: none;
}

ref .notes:hover {
  border: solid 1px black;
}

ref .notes:focus {
  border: solid 1px black;
}

.ref-top {
  padding: 10px;
  border-bottom: solid 1px black;
}

.ref-middle {
  padding: 10px;
  border-bottom: solid 1px black;
}

.ref-bottom {
  padding: 10px;
}

ref .label {
  display: inline-block;
  margin-right: 4px;
}

.refs-ref label {
  min-width: 80px;
}

ref .fade {
  opacity:1;
  color: rgb(80,80,255);
}

.fade.ng-leave {
  transition:0.5s linear all;
  opacity:1;
}

.fade.ng-leave.ng-leave-active {
  opacity:0;
}
