<div class="refs-ref">
  <div ng-class="{retained:retained}" class="retainer">
    <div class="expander">

      <div ng-if="!editing">

        <div class="ref-top">
          <!-- Delete and edit buttons -->

          <span class="saved fade" ng-if="show_details_saved">saved</span>

          <div class="centering pull-right right-buttons">
            <button ng-click="start_edit()" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-edit"></span> edit</button>
            <div class="clearfix"></div>
            <button ng-click="confirm_delete()" class="btn btn-default btn-xs pull-right">
              <span class="glyphicon glyphicon-fire"></span> delete
            </button>
            <div class="clearfix"></div>
          </div>

          <!-- Title -->
          <span class="title">{{thisref.title}}</span>
          <span class="ref_type">{{thisref.ref_type}}</span>
          <div class="clearfix"></div>
        </div>

        <div class="ref-middle">

          <!-- Most other details -->
          <span class="author">{{thisref.author}}</span>
          <span class="booktitle">{{thisref.booktitle}}</span>
          <span class="year">{{thisref.year}}</span>
          <span class="citation_key">{{thisref.citation_key}}</span>
          <span class="url"><a target="_blank" href="{{thisref.url}}">{{thisref.url}}</a></span>

          <!-- Labels -->
          <div class="labels-wrapper">
            <labelpicker labelchanged="update_label" pickerid="thisref._id" activelabels="activelabels"></labelpicker>
            <span class="label label-default" ng-repeat="label in thisref.labels track by label._id">{{label.name}}</span>
          </div>
          <filebunch changed="save_ref" files="thisref.files" class="files" formdata="{ref_id:thisref._id}"></filebunch>
          <div class="clearfix"></div>

        </div>
      </div>

      <div ng-if="editing">
        <div class="ref-top">
          <div class="pull-right right-buttons">
            <button ng-click="cancel_edit()" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-chevron-left"></span> cancel</button>
            <button ng-click="save_edit()" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-save"></span> save</button>
            <div class="clearfix"></div>
            <span class="fade" ng-if="show_details_saved">saved</span>
          </div>
          <div><label class="form">title: </label><input ng-model="edited_ref.title"></div>
          <div><label class="form">ref type: </label><reftype model="edited_ref.ref_type"></reftype></div>

          <div class="clearfix"></div>
        </div>

        <div class="ref-middle">

          <div><label class="form">author: </label><input ng-model="edited_ref.author"></div>
          <div><label class="form">booktitle: </label><input ng-model="edited_ref.booktitle"></div>
          <div><label class="form">year: </label><input ng-model="edited_ref.year"></div>
          <div><label class="form">cite key: </label><input ng-model="edited_ref.citation_key"></div>
          <div><label class="form">url: </label><input ng-model="edited_ref.url"></div>

        </div>

      </div>


      <div class="ref-bottom">
        <span class="pull-right fade" ng-if="show_notes_saved">saved</span>
        <textarea class="autogrow notes" ng-keyup="notes_changed()" ng-model="thisref.notes" placeholder="your notes"></textarea>
      </div>

    </div><!-- end of expander -->

    <div ng-click="toggle_retained()" class="expand">
      <span ng-class="{flipped:!retained}">&#x25BF;</span>
    </div>

  </div><!-- endo of retainer -->
</div>
