<div class="refs-ref">

  <div ng-show="!$ctrl.editing">

    <div class="ref-top">
      <!-- Delete and edit buttons -->
      <div class="centering pull-right right-buttons">
        <button ng-click="$ctrl.start_edit()" class="mg-right btn btn-default btn-sm"><span class="glyphicon glyphicon-edit"></span> edit</button>
        <button ng-click="$ctrl.confirm_delete()" class="btn btn-default btn-sm pull-right">
          <span class="glyphicon glyphicon-fire"></span> delete
        </button>
        <div class="clearfix"></div>
        <span class="fade" ng-if="$ctrl.show_details_saved">saved</span>
      </div>

      <!-- Title -->
      <span class="title">{{$ctrl.ref.title}}</span>
      <div class="clearfix"></div>
    </div>

    <div class="ref-middle">

      <!-- Most other details -->
      <span class="authors">{{$ctrl.ref.authors}}</span>
      <span class="date">{{$ctrl.ref.date}}</span>
      <span class="url"><a>{{$ctrl.ref.url}}</a></span>

      <!-- Labels -->
      <div class="labels-wrapper">
        <span class="label label-default" ng-repeat="label in $ctrl.ref.labels track by label._id">{{label.name}}</span>
        <labelpicker labelchanged="$ctrl.update_label" pickerid="$ctrl.ref._id" activelabels="$ctrl.activelabels"></labelpicker>
      </div>
      <div class="clearfix"></div>

    </div>
  </div>

  <div ng-show="$ctrl.editing">
    <div class="ref-top">
      <div class="pull-right right-buttons">
        <button ng-click="$ctrl.cancel_edit()" class="mg-right btn btn-default btn-sm"><span class="glyphicon glyphicon-chevron-left"></span> cancel</button>
        <button ng-click="$ctrl.save_edit()" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-save"></span> save</button>
        <div class="clearfix"></div>
        <span class="fade" ng-if="$ctrl.show_details_saved">saved</span>
      </div>
      <div><label>title: </label><input ng-model="$ctrl.edited_ref.title"></div>
      <div class="clearfix"></div>
    </div>

    <div class="ref-middle">

      <div><label>authors: </label><input ng-model="$ctrl.edited_ref.authors"></div>
      <div><label>date: </label><input ng-model="$ctrl.edited_ref.date"></div>
      <div><label>url: </label><a><input ng-model="$ctrl.edited_ref.url"></a></div>

    <!-- Labels -->
      <span class="label label-default" ng-repeat="label in $ctrl.ref.labels track by label._id">{{label.name}}</span>
      <labelpicker labelchanged="$ctrl.update_label" pickerid="$ctrl.ref._id" activelabels="$ctrl.activelabels"></labelpicker>
    </div>

  </div>


  <div class="ref-bottom">
    <span class="pull-right fade" ng-if="$ctrl.show_notes_saved">saved</span>
    <textarea class="notes" ng-keypress="$ctrl.notes_changed()" ng-model="$ctrl.ref.notes" placeholder="your notes"></textarea>
  </div>


</div>
