ref {
  display: block;
  width: 400px;
  float: left;
  margin: 14px;
  position: relative;
}

ref .refs-ref {
  background: white;
  border: solid 1px rgb(220,220,220);
  box-shadow: 0px 0px 4px rgba(0,0,0,0.1);
  border-radius: 4px;
  overflow: hidden;
  padding-bottom: 16px;
  min-height: 318px;
}

ref textarea {
  overflow: scroll;
  min-height: 400px;
}

ref .retainer.retained {
  max-height: 300px;
  min-height: 300px;
  overflow: hidden;
}

ref .expand {
  position: absolute;
  width: 100%;
  bottom: 0;
  font-size: 1.2em;
  line-height: 0.7em;
  padding-top: 0;
  height: 16px;
  text-align: center;
  cursor: pointer;
}

ref .flipped {
  filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=2);  /* IE6,IE7 */
	ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)"; /* IE8 */
	-moz-transform: rotate(-180deg);  /* FF3.5+ */
	-o-transform: rotate(-180deg);  /* Opera 10.5 */
	-webkit-transform: rotate(-180deg);  /* Safari 3.1+, Chrome */
	position: absolute;
  line-height: 1.1em;
  margin-left: -6px;
}

ref .title {
  font-size: 1.3em;
  font-weight: bold;
}

ref .ref_type {
  color: orange;
  font-size: 1.0em;
}

ref .notes {
  width: calc(100% + 12px);
  margin: -6px -6px 1px -6px;
  height: 100px;
  padding: 10px;
  border: none;
}

ref .notes:hover {
  border: solid 1px rgb(220,220,220);
}

ref .notes:focus {
  border: solid 1px rgb(220,220,220);
}

.ref-top {
  padding: 10px;
  border-bottom: solid 1px rgb(220,220,220);
}

ref .right-buttons button {
  float: right;
  width: 70px;
}

ref .right-buttons button:first-child {
  margin-bottom: 4px;
}

.ref-middle {
  padding: 10px;
  border-bottom: solid 1px rgb(220,220,220);
}

.ref-bottom {
  padding: 10px 10px 0 10px;
}

ref .label {
  display: inline-block;
  margin-right: 4px;
  padding: 4px 4px 4px 4px;
  font-size: 1em;
}

ref .right-buttons {
  width: 80px;
}

ref filebunch {
  margin-top: 8px;
}

ref labelpicker {
  margin-top: 8px;
}

.refs-ref label.form {
  min-width: 80px;
}

ref .fade {
  opacity:1;
  color: rgb(80,80,255);
}

.fade.ng-leave {
  transition:0.5s linear all;
  opacity:1;
}

.fade.ng-leave.ng-leave-active {
  opacity:0;
}
