password-authenticate label {
  width: 80px;
}

password-authenticate .form-message {
  text-align: center;
  margin-bottom: 14px;
}

password-authenticate .alt-options {
  margin-left: 10px;
}

password-authenticate form {
  width: 295px;
  padding-bottom: 10px;
}
