addref .add-ref {
  width: 770px;
  padding: 30px 50px;
  cursor: default;

}

addref .add-ref-manual {
  float: left;
  width: 300px;

}

addref .add-ref-manual input[type=text] {
  width: 218px;
}
addref .add-ref-manual textarea {
  width: 218px;
}

addref input[type=file] {
  width: 216px;
  display: inline-block;
}

addref .add-ref-bibtex button.bibtex-add-btn {
  margin-top: 14px;
}

addref .manual-add-btn {
  display: inline-block;
  margin-left: 150px;
  margin-top: 14px;
}

addref label {
  width: 80px;
}

addref .centered {
  display: block;
  margin: auto;
}

addref .form-separator {
  float: left;
  width: 120px;
  padding: 10px;
  text-align: center;
}

addref .vertical-line {
  height: 160px;
  width: 0px;
  margin: auto;
  margin-top: 16px;
  text-align: center;
  border: solid 1px black;
}

addref .or {
  background: white;
  width: 24px;
  text-align: center;
  margin: auto;
  position: relative;
  top: 70px;
  left: -12px;
}

addref select {
  margin-left: 20px;
}

addref .add-ref-bibtex {
  float: left;
  width: 246px;
}

addref .bibtex-textarea {
  height: 160px;
  width: 240px;
  margin-top: 26px;
  margin-left: 2px;
}
