password .show-hide {
  display: inline-block;
  position: relative;
  top: 2px;
  padding: 4px;
  text-align: center;
  cursor: pointer;
  margin-left: -30px;
}

password input {
  padding-right: 28px;
  width: 200px;
}
